<h1 class=" center amber-text text-lighten2">Produkter</h1>
<div class="divider"></div>
<div class="container">
<div class="row">
    <h5 class="center-align">kategori Ett</h5>
    <br><br>
    <div class="row">
        <div class="col s3">
                <%= image_tag  "bild1.jpg", class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img " %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
    <h5 class="center-align">Kategori Två</h5>
    <br><br>
    <div class="row">
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
    </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5 class="center-align">Kategori Tre</h5>
        <br><br>
        <div class="row">
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        </div>
    </div>
    <div class="divider"></div>
    <br><br>
    <div class="row center">
        <a href="/orders/new" id="download-button" class="btn-large waves-effect waves-light amber">Beställa</a>
    </div>
    </div>
</div>

