<!-- <h1 class=" center amber-text text-lighten2">Produkter</h1>
<div class="divider"></div>
<div class="container">
<div class="row">
    <h5 class="center-align">kategori Ett</h5>
    <br><br>
    <div class="row">
        <div class="col s3">
                <%= image_tag  "bild1.jpg", class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img " %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
    <h5 class="center-align">Kategori Två</h5>
    <br><br>
    <div class="row">
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img" %>
        </div>
    </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5 class="center-align">Kategori Tre</h5>
        <br><br>
        <div class="row">
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        <div class="col s3">
            <%= image_tag  "bild1.jpg",  class: "responsive-img"%>
        </div>
        </div>
    </div>
    <div class="divider"></div>
    <br><br>
    <div class="row center">
        <a href="/orders/new" id="download-button" class="btn-large waves-effect waves-light amber">Beställa</a>
    </div>
    </div>
</div> -->

<h1 class=" center amber-text text-lighten2">Produkter</h1>
<div class="divider"></div>    
<div class="section">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">Välkommen till Bohuslän Bageri</h5>
    </div>
    <div class="row center">
      <div class="slider">
          <ul class="slides">
            <li>
              <a href=""></a><%= image_tag  "bild1.jpg" , class: "responsive-img" %></a>
              <div class="caption left-align">
                <h3>Namn på produkt</h3>
                <h5 class="light grey-text text-lighten-3">Ett kommentar.</h5>
              </div>
            </li>
            <li>
              <%= image_tag  "bild2.jpg", class: "responsive-img" %> 
              <div class="caption left-align">
                <h3>Nman på produkt</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <%= image_tag  "bild3.jpg", class: "responsive-img" %>
              <div class="caption left-align">
                <h3>Namn på produkt</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <%= image_tag  "bild4.jpg", class: "responsive-img" %> 
              <div class="caption left-align">
                <h3>Namn på produkt</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
    </div>
    <br><br><br>
    <h3>Kategori Ett</h3>
    <p>
      Varför använder vi det?
      Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten.
      Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text.
      Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
      Olika versioner har dykt upp under åren, ibland av olyckshändelse, ibland med flit (mer eller mindre humoristiska).
    </p>
    <br><br><br>
    <div class="row center">
        <div class="slider">
            <ul class="slides">
              <li>
                <%= image_tag  "bild2.jpg" , class: "responsive-img" %> 
                <div class="caption center-align">
                  <h3>Namn på produkt</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <%= image_tag  "bild3.jpg", class: "responsive-img" %> 
                <div class="caption center-align">
                  <h3>Namn på produkt</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <%= image_tag  "bild4.jpg", class: "responsive-img" %> 
                <div class="caption center-align">
                  <h3>Namn på produkt</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <%= image_tag  "bild1.jpg" , class: "responsive-img" %> 
                <div class="caption center-align">
                  <h3>Namn på produkt</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <br><br><br>
    <h3>Kategori två</h3>
    <p>
        Varför använder vi det?
        Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten.
        Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text.
        Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
        Olika versioner har dykt upp under åren, ibland av olyckshändelse, ibland med flit (mer eller mindre humoristiska).
    </p>
    <br><br><br>
    <div class="row center">
        <div class="slider">
            <ul class="slides">
                <li>
                <%= image_tag  "bild3.jpg", class: "responsive-img" %> 
                <div class="caption right-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
                </li>
                <li>
                <%= image_tag  "bild4.jpg" , class: "responsive-img" %> 
                <div class="caption right-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
                </li>
                <li>
                <%= image_tag  "bild1.jpg", class: "responsive-img" %> 
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
                </li>
                <li>
                <%= image_tag  "bild2.jpg", class: "responsive-img" %> 
                <div class="caption right-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
                </li>
            </ul>
            </div>
        </div>
        <br><br><br>
        <h3>Kategori tre</h3>
        <p>
        Varför använder vi det?
        Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten.
        Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text.
        Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
        Olika versioner har dykt upp under åren, ibland av olyckshändelse, ibland med flit (mer eller mindre humoristiska).
        </p>
        <br><br><br>  
    </div>
</div>


