<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <!-- Google CDN jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })
      
      $(document).ready(function(){
        $('.slider').slider(
          
        );
        $(document).ready(function(){
          $('.parallax').parallax();
        });
      });
    </script>

    <meta name="viewport" content="witdh=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="amber" role="navigation">
          <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><i class="material-icons">home</i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li> <%= link_to  "Produkter", pages_produkter_path %></li>
              <li> <%= link_to  "Om Oss", pages_om_path %></li>
              <li> <%= link_to  "Kontakt", pages_kontakt_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to  current_user.email,   edit_user_registration_path %></li>
                <% if !current_user.admin? %>
                  <li><%= link_to 'Mina beställningar', orders_path %></li>
                <% else %>
                  <li><%= link_to 'Beställningar', orders_path %></li>
                <%end%>  
                <li><%= link_to  "Logga ut", destroy_user_session_path, :method =>:delete %></li>
              <% else %>
                <li><%= link_to  "Logga in", new_user_session_path %></li>
                <li><%= link_to  "Skapa konto", new_user_registration_path %></li>
              <% end %> 
            </ul>
            <ul class="side-nav " id="mobile-demo">
              <li> <%= link_to  "Produkter", pages_produkter_path %></li>
              <li> <%= link_to  "Om Oss", pages_om_path %></li>
              <li> <%= link_to  "Kontakt", pages_kontakt_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to  current_user.email,   edit_user_registration_path %></li>
                <% if !current_user.admin? %>
                  <li><%= link_to 'Mina beställningar', orders_path %></li>
                <% else %>
                  <li><%= link_to 'Beställningar', orders_path %></li>
                <%end%>
                <li><%= link_to  "Logga ut", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to  "Logga in", new_user_session_path %></li>
                <li><%= link_to  "Skapa konto", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="green">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </nav>
      
    </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <footer class=" amber page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright 
          </div>
        </div>
     </footer>   
  </body>
</html>
